<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.mapper.BoardMapper">

    <resultMap type="Board" id="BoardResultMap">
        <result property="rowNum"  column="rnum"     />
        <result property="num"     column="NUM"     />
        <result property="userId"  column="USER_ID" />
        <result property="title"   column="TITLE"   />
        <result property="content" column="CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
        <result property="regDate" column="REGDATE" />
        <result property="viewCnt" column="VIEWCNT" />
    </resultMap>


    <select id="getBoards" parameterType="hashMap" resultMap="BoardResultMap">
        SELECT
            T1.rnum,
            T1.NUM,
            T1.USER_ID,
            T1.TITLE,
            T1.CONTENT,
            TO_CHAR(T1.REGDATE, 'YYYY-MM-DD HH24:MI:SS') as REGDATE,
            T1.VIEWCNT
        FROM (
            SELECT
               ROWNUM AS rnum,
               t.*
            FROM (
              SELECT
                  b.*
              FROM BOARD b
              ORDER BY num DESC
            ) t
        ) T1
        WHERE  1=1
        <if test="PAGE_NO != null and PAGE_SZ != null">
            AND rnum BETWEEN #{PAGE_NO}  and #{PAGE_SZ}
        </if>
    </select>


    <select id="getBoard" parameterType="java.lang.String" resultMap="BoardResultMap">
        SELECT
            NUM,
            USER_ID,
            TITLE,
            CONTENT,
            TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS') as REGDATE,
            VIEWCNT
        FROM BOARD
        WHERE 1=1
		  AND NUM = #{NUM}
    </select>

    <select id="countPosting"  resultType="int">
        SELECT
          COUNT(0) as CNT
        FROM BOARD
    </select>

    <insert id="insertBoard" parameterType="hashMap" >
        INSERT INTO BOARD(NUM,USER_ID,TITLE,CONTENT,REGDATE)
        values(
          board_seq.nextval,
          #{USER_ID, jdbcType=VARCHAR},
          #{TITLE, jdbcType=VARCHAR},
          #{CONTENT, jdbcType=CLOB},
          sysdate
        )
    </insert>


    <update id="updateBoard" parameterType="hashMap">
        UPDATE BOARD
        SET  TITLE = #{TITLE, jdbcType=VARCHAR}
              ,CONTENT = #{CONTENT, jdbcType=CLOB}
        WHERE 1=1
        AND NUM = #{NUM}
    </update>

    <delete id="deleteBoard" parameterType="board.vo.Board">
        DELETE BOARD WHERE 1=1 AND NUM = #{NUM}
    </delete>

    <update id="incleaseViewCnt" parameterType="java.lang.String">
      UPDATE BOARD
        SET VIEWCNT = (SELECT NVL(VIEWCNT,0)+1 FROM BOARD WHERE 1=1 AND NUM = #{NUM})
        WHERE 1=1
            AND NUM = #{NUM}
    </update>



</mapper>
