<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.mapper.BoardMapper">

    <resultMap type="Board" id="BoardResultMap">
        <result property="rowNum"  column="rnum"     />
        <result property="num"     column="NUM"     />
        <result property="userId"  column="USER_ID" />
        <result property="title"   column="TITLE"   />
        <result property="content" column="CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
        <result property="regDate" column="REGDATE" />
        <result property="viewCnt" column="VIEWCNT" />
    </resultMap>


    <select id="getBoards" resultMap="BoardResultMap">
        SELECT * FROM (
            SELECT
                ROWNUM rnum,
                NUM,
                USER_ID,
                TITLE,
                CONTENT,
                REGDATE,
                VIEWCNT
            FROM BOARD
            ORDER BY REGDATE DESC
        ) t
        WHERE 1=1
    </select>


    <!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <insert id="insertBoard" parameterType="board.vo.Board" >
        INSERT INTO BOARD values(board_seq.nextval,#{user_id},#{title},#{content},#{regDate},#{viewCnt})
    </insert>


    <update id=""></update>

    <delete id="deleteBoard" parameterType="board.vo.Board">
        DELETE BOARD WHERE(name=#{num})
    </delete>



</mapper>
