<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.mapper.ReplyMapper">

    <resultMap type="Reply" id="ReplyResultMap">
        <result property="num"      column="NUM"      />
        <result property="boardNum" column="BNUM"     />
        <result property="userId"   column="USER_ID"  />
        <result property="content"  column="CONTENT"  />
        <result property="regDate"  column="REGDATE"  />
    </resultMap>


    <select id="getReplys" parameterType="java.lang.String" resultMap="ReplyResultMap">
        SELECT
          NUM,
          BNUM,
          USER_ID,
          CONTENT,
          TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS') as REGDATE
        FROM REPLY
        WHERE 1=1
          AND BNUM = #{BOARDNUM}
        ORDER BY REGDATE desc
    </select>

    <insert id="insertReply" parameterType="board.vo.Reply" >
        INSERT INTO REPLY(NUM,BNUM,USER_ID,CONTENT,REGDATE)
        values(
        reply_seq.nextval,
        #{boardNum, jdbcType=VARCHAR},
        #{userId, jdbcType=VARCHAR},
        #{content, jdbcType=VARCHAR},
        sysdate
        )
    </insert>

    <update id="updateReply" parameterType="board.vo.Reply">
        UPDATE REPLY
        SET  CONTENT = #{content, jdbcType=VARCHAR}
        WHERE 1=1
        AND NUM = #{num}
    </update>

    <delete id="deleteReply" parameterType="java.lang.String">
        DELETE REPLY WHERE 1=1 AND NUM = #{NUM}
    </delete>




</mapper>
